<%@title = "Phasen"%>
<h2>Phase :</h2>
<p>
	<b>Jahreszeit: </b>
	<%= @phase.season %>
</p>

<p>
	Achtung ! Hiermit werden auch alle beinhaltenden Auftritte gel&ouml;scht ! (Anfragen bleiben bestehen)
	<%=button_to "Phase L&ouml;schen",@phase,:method=>:delete,:class=>:destroy	%>
</p>
<div id="controll">
	<%= link_to 'Bearbeiten', edit_phase_path(@phase) %> |
	<%= phase_back_link %>
</div>
