		<ul>
			<li><%=link_to "Personen",people_path%></li>
			<li><%=link_to "Phasen",phases_path%></li>
			<li><%=link_to "Auftritte",events_path%></li>
			<li><%=link_to "Anfragen",requests_path%></li>
		</ul>